{% extends 'interface/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <h5 class="h3centered" style="color:crimson">{{player.nickname}}</h5>
    <p class="">Are they currently Online: <h7 style="color: cornflowerblue;">{{player.is_currently_online}}</h7></p>
    <p class="">Last Online: <h7 style="color: cornflowerblue;">{{player.last_online}}</h7></p>
    <p class="">Last Seen in: <h7 style="color: cornflowerblue;">{{player.was_last_in}}</h7></p>
    <p class="">Chat logs of <h7 style="color: cornflowerblue;"><a href="/playerlog/{{player.nickname}}">{{player.nickname}}</a></h7></p><br><br>



    {% for note in notes %}
        <article class="media content-section">
            <div style="padding-top:15px;">
            </div>
            <div class="media-body">
                <div class="article-metadata">
                    <p><h7 style="color:darkcyan">Added by: {{note.madeby}} </h7>
                        <small class="text-muted">Created at {{note.created_at }}</small></p>
                    
                </div>
                <p class="article-content">{{note.content | safe}}</p>
            </div>
        </article>
    {% endfor %}
    <br><br><br>
    <form action="/new_note/{{ playerName }}/">
        <legend class="border-bottom mb-4">Add a new note to this player</legend>
        <small class="text-muted">
            <button type="submit" class="btn btn-success">Add a new Note</button>
        </small>
    </form>
</div>
{% endblock %}