{% extends 'interface/base.html' %}
{% load crispy_forms_tags %}
{% block style %}
    <style>
        .rounded-circle{
            width: 150px;
            padding-right: 10px;
        }
        @media only screen and (max-width:620px) {
            /* For mobile phones: */
            .rounded-circle {
                width: 100px;
            }
        }

    </style>
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="https://mc-heads.net/avatar/{{ player.minecraftUsername }}">
            <div class="media-body">
                <h3 class="border-bottom mb-4">{{ user.username }}</h3>
                <p class="text-secondary">Minecraft Nickname: {{ player.minecraftUsername }}</p>
                <p class="text-secondary">Role: {{ player.role }}</p>
            </div>
        </div>
    </div>
    <br>

    <br>
    <form action="/logout/">
        <legend class="border-bottom mb-4">Want to logout?</legend>
        <small class="text-muted">
            <button type="submit" class="btn btn-warning">Logout</button>
        </small>
    </form>
    <br>
    <br>
    <br>
    <b><p>Information about the Interface:</p></b>
    <p>Made by <i>Anatomic.</i> <br>
    The entire platform can be found on <a href="https://github.com/ysanatomic/DivictusInterface/" target="_blank">GitHub</a>.<br>
    The plugin that the platform uses can also be found on <a href="https://github.com/ysanatomic/divictus-interface-plugin/" target="_blank">GitHub</a>.<br>
    The web app and platform are licensed under <a href="https://gist.github.com/kn9ts/cbe95340d29fc1aaeaa5dd5c059d2e60" target="_blank">GPLv3</a>.
    </p>




{% endblock %}