{% extends 'interface/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h3 class="h3centered">{{ room_name }} Server Chat</h3>
    <textarea id="chat-log" style="width: 100%;" rows="15"></textarea><br>
    <div class="row"></div>
    <input id="chat-message-input" type="text" style="width: 100%;"><br><br>
    <input id="chat-message-submit" type="button" value="Send" class="btn btn-primary">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/client/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var messageObj = data["message"];
            var message = messageObj["text"];
            var author = messageObj["author"];
            if(author == ""){
                author = "Server";
            }

            document.querySelector('#chat-log').value += ("<" + author + ">" + " " + message + '\n');
            document.querySelector('#chat-log').scrollTo(0, document.querySelector('#chat-log').scrollHeight  );
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if(message.startsWith("/")){
                alert("Please do not execute any commands from here.")
            }
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}