{% extends 'interface/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h3 class="h3centered"><i>All Servers<i></h3>
    <h5 class="h3centered"><i>you have permissions for</i></h5>
    {% for server in servers %}
        <div class="xshadow">
            <div class="xcontainer">
                <i><h4 class="h3centered">{{server.name}}</h4></i>
                {% if server.is_online is True %}
                    <p class="h3centered" style="color:cornflowerblue">Online</p>
                {% else %}
                    <p class="h3centered" style="color:crimson">Offline</p>
                {% endif %}
                <p class="h3centered"><h7><a href="/chat/{{server.name}}">🗯 Live Chat</a></h7>&nbsp;&nbsp;&nbsp;👁  Players Online: <h7 id="playercount{{server.id}}">{{server.playerCount}}</h7></p>
                <p class="h3centered"><h7><a href="/onlinePlayers/{{server.name}}">⌨️ Player list</a></h7></p>
                <p class="h3centered"><h7><a href="/serverlog/{{server.name}}">🗄 Server Logs</a></h7></p>
            </div>
        </div>
    {% endfor %}

    <script>

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/client/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var messageObj = data["message"];
            var message = messageObj["text"]
            var author = messageObj["author"]

            
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

    </script>

{% endblock %}